<!-- smrWeb/templates/smrWeb/help_page.html -->
<!-- 帮助页面 -->

{% extends 'smrWeb/base.html' %}

<!-- 替换title -->
{% block title %}Help{% endblock %}

<!-- 替换bestTitle -->
{% block bestTitle %}
Help
{% endblock %}

<!-- 删除secondTitleDiv -->
{% block secondTitleDiv %}
{% endblock %}

<!-- 删除search_musician -->
{% block search_musician %}
{% endblock %}

<!-- 替换albums -->
{% block albums %}

<!-- Process -->
<div class="process_section_2">
    <div class="container">
        <div class="product_section">
            <div class="row padding_top_0">
                <div class="col-sm-2">
                    <div class="one_text"><a href="https://gitee/">01</a></div>
                </div>
                <div class="col-sm-8">
                    <h1 class="software_text">Week 1</h1>
                    <p class="lorem_ipsum_text">
                        了解专业实训基础，学习Python编程语言。掌握Gitee代码仓库的使用方法及Git版本控制的基本操作。</p>
                </div>
                <div class="col-sm-2">
                    <a href="https://gitee/"><button class="view_now">Search For Help</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="process_section_2">
        <div class="container">
            <div class="product_section">
                <div class="row padding_top_0">
                    <div class="col-sm-2">
                        <div class="one_text"><a href="https://docs.djangoproject.com/zh-hans/5.1/">02</a></div>
                    </div>
                    <div class="col-sm-8">
                        <h1 class="software_text">Week 2</h1>
                        <p class="lorem_ipsum_text">
                            学习Web开发技术和数据维护方法，使用Django框架搭建网站，并掌握MySQL数据库的设计与管理。</p>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://docs.djangoproject.com/zh-hans/5.1/"><button class="view_now">Search For Help</button>></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="process_section_2">
            <div class="container">
                <div class="product_section">
                    <div class="row padding_top_0">
                        <div class="col-sm-2">
                            <div class="one_text"><a href="https://pytorch.org/">03</a></div>
                        </div>
                        <div class="col-sm-8">
                            <h1 class="software_text">Week 3</h1>
                            <p class="lorem_ipsum_text">
                                研究推荐算法和真值发现算法，并使用Python编写推荐算法，提高音乐评分的准确性和可靠性。</p>
                        </div>
                        <div class="col-sm-2">
                            <a href="https://pytorch.org/"><button class="view_now">Search For Help</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="process_section_2">
                <div class="container">
                    <div class="product_section">
                        <div class="row padding_top_0">
                            <div class="col-sm-2">
                                <div class="one_text"><a href="https://github.com/">04</a></div>
                            </div>
                            <div class="col-sm-8">
                                <h1 class="software_text">Week 4</h1>
                                <p class="lorem_ipsum_text">
                                    将所有功能模块进行系统集成，优化用户体验，完成音乐评分与推荐系统的最终展示和调试工作。</p>
                            </div>
                            <div class="col-sm-2">
                                <a href="https://github.com/"><button class="view_now">Search For Help</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 相关链接 -->
<!-- wyy, qqm, db, wiki, metaso, baidu, bing, gitee -->
<div class="process_section">
    <div class="container">
        <div class="images_main ">
            <!--            <h2 id="demo01"></h2>-->
            <div class="hoverHp column">
                <div>
                    <figure>
                        <a href="https://music.163.com/">
                            <img src="../../static/images/wyy3.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -50px">网易云音乐</span>
                </div>
                <div>
                    <figure>
                        <a href="https://y.qq.com//">
                            <img src="../../static/images/qqm.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">QQ音乐</span>
                </div>
                <div>
                    <figure>
                        <a href="https://douban.com/">
                            <img src="../../static/images/db.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">豆瓣</span>
                </div>
                <div>
                    <figure>
                        <a href="https://wikipedia.org/">
                            <img src="../../static/images/wiki.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">维基百科</span>
                </div>
            </div>

            <!--            <h2 id="demo02"></h2>-->
            <div class="hoverHp column">
                <div>
                    <figure>
                        <a href="https://metaso.cn/">
                            <img src="../../static/images/mt.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">秘塔</span>
                </div>
                <div>
                    <figure>
                        <a href="https://baidu.com/">
                            <img src="../../static/images/bd.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">百度</span>
                </div>
                <div>
                    <figure>
                        <a href="https://bing.com/">
                            <img src="../../static/images/bing.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">Bing</span>
                </div>
                <div>
                    <figure>
                        <a href="https://gitee.com/">
                            <img src="../../static/images/gitee.jpg">
                        </a>
                    </figure>
                    <span class="musicians_text" style="margin-bottom: -10px">Gitee</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}