<!-- smrWeb/templates/smrWeb/musicians_page.html -->
<!-- 音乐人搜索页面 -->

{% extends 'smrWeb/base.html' %}

<!-- 替换title -->
{% block title %}Musicians{% endblock %}

<!-- 替换bestTitle -->
{% block bestTitle %}
Musicians
{% endblock %}

<!-- 替换search_musician -->
{% block there_text %}
    你可以这样输入，例如：Bob Dylan，以了解该音乐人的信息
{% endblock %}

<!-- 替换secondTitle -->
{% block secondTitle %}
Musicians
{% endblock %}

<!-- 替换albums -->
{% block albums %}
<div class="musicians_section layout_padding">
    <div class="container" style="margin-top: -100px">
        <div class="images_main ">
            <h2 id="demo01"></h2>
            <div class="hover01 column">
                <!-- ww, kendrick lamar, syz, sun, rad, hcy, fls, wqf  -->
                <div>
                    <a href="/musicianresult/?query=孙燕姿">
                        <figure><img src="../../static/images/syz.png"></figure>
                        <span class="secondTitle">孙燕姿</span>
                    </a>
                </div>
                <div>
                    <a href="/musicianresult/?query=超级市场">
                        <figure><img src="../../static/images/sm.jpg"></figure>
                        <span class="secondTitle">超级市场</span>
                    </a>
                </div>
                
                <div>
                    <a href="/musicianresult/?query=Kendrick Lamar">
                        <figure><img src="../../static/images/kl.jpg"></figure>
                        <span class="secondTitle">Kendrick Lamar</span>
                    </a>
                </div>
                <div>
                    <a href="/musicianresult/?query=吴青峰">
                        <figure><img src="../../static/images/wqf.jpg"></figure>
                        <span class="secondTitle">吴青峰</span>
                    </a>
                </div>
            </div>
            
            <h2 id="demo02"></h2>
            <div class="hover01 column">
                <div>
                    <a href="/musicianresult/?query=张悬">
                        <figure><img src="../../static/images/zx.jpg"></figure>
                        <span class="secondTitle">张悬</span>
                    </a>
                </div>
                <div>
                    <a href="/musicianresult/?query=惘闻">
                        <figure><img src="../../static/images/ww.jpg"></figure>
                        <span class="secondTitle">惘闻</span>
                    </a>
                </div>
                <div>
                    <a href="/musicianresult/?query=华晨宇">
                        <figure><img src="../../static/images/hcy.jpg"></figure>
                        <span class="secondTitle">华晨宇</span>
                    </a>
                </div>
                <div>
                    <a href="/musicianresult/?query=RADWIMPS">
                        <figure><img src="../../static/images/rad.jpeg"></figure>
                        <span class="secondTitle">RADWIMPS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}