<!-- smrWeb/templates/smrWeb/search_music.html -->
<!-- 发现音乐页面 -->

{% extends 'smrWeb/base.html' %}

<!-- 替换title -->
{% block title %}Search Music{% endblock %}

<!-- 替换bestTitle -->
{% block bestTitle %}
Search Music
{% endblock %}

<!-- 替换search_musician -->
{% block search_musician %}
<!-- 搜索和搜索区域的主要容器 -->
<form action="/albumresult" method="get">
    <div class="box_main">
        <!-- 可输入框，允许用户输入以搜索工作, HtmlFormInputWithoutLabel, HtmlFormInputWithoutLabel -->
        <input
                type="text"
                class="artist_bt"
                placeholder="请输入你想了解的音乐"
                name="query"
                required
        />
        <!-- 搜索按钮，引导用户搜索服务 -->
        <button type="submit" class="search_bt">搜 索</button>
    </div>
</form>
<!-- 解释性文字，向用户介绍该搜索引擎的功能 -->
<p class="there_text">
    你可以这样输入，例如：安和桥北，以了解该音乐的信息
</p>
{% endblock %}