<!-- web/templates/web/musicianResult.html -->
<!-- 音乐人结果默认页面 -->

{% extends 'web/base.html' %}

<!-- 替换title -->
{% block title %}Musician Result{% endblock %}

<!-- 替换bestTitle -->
{% block bestTitleDiv %}{% endblock %}

<!-- 替换searchDiv -->
{% block search_musician %}
<div class="musician_result_section layout_padding">
    <div class="container">
        <div class="musician_item">
            <div class="row align-items-center">
                <div class="musician_5 col-5">
                    <!-- 音乐人姓名 -->
                    <h1 class="musician_title">苏打绿 Sodagreen</h1>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <!-- 音乐人图片 -->
                            <div class="musician_img">
                                <img src="../../static/images/sdl.jpg" alt="sdl"/>
                            </div>
                        </div>
                        <div class="col-8">
                            <!-- 音乐人基本信息 -->
                            <p
                                    class="musician_info album_wrapper"
                                    style="margin: 0; padding: 15px"
                            >
                                成立日期: 2001年4月26日 更多中文名: 蘇打綠 更多外文名: oaeen
                                厂牌: 林暐哲音乐社 流派: 流行 语言: 普通话 乐队成员: 吴青峰 /
                                谢馨仪 / 史俊威 / 龚钰祺 / 何景扬 / 刘家凯 职业: 音乐人
                            </p>
                        </div>
                    </div>
                    <!-- 音乐人介绍 -->
                    <p class="musician_intro album_wrapper">
                        苏打绿（Sodagreen）是一个台湾的乐团，于2001年由国立政治大学的学生组成。2003年7月，苏打绿在海洋音乐祭小舞台演出，在此次活动中结识音乐制作人林哲，而后加入林哲音乐社，陆续发行三张单曲，并于2005年9月发行第一张同名专辑《苏打绿》。2003年时确立了了现在的六人阵容：主唱吴青峰（青峰）、贝斯手谢馨仪（馨仪）、鼓手史俊威（小威）、电吉他手刘家凯（家凯）、木吉他手何景扬（阿福），以及键盘与中提琴手龚钰祺（阿龚），其中除了阿龚为台北艺术大学音乐研究所的学生外，其余五名成员都曾就读政治大学。自出道开始，苏打绿所有发表歌曲皆为团员所创作。
                    </p>
                </div>

                <div class="col-7">
                    <!-- 专辑1 -->
                    <div class="album_row">
                        <div class="row">
                            <div class="album_row_wrapper">
                                <div class="col-3">
                                    <div class="album_row_img">
                                        <img src="../../static/images/ab1.jpg" alt="ab1"/>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-3">
                                            <h1 class="album_num">No.1</h1>
                                        </div>
                                        <div class="col-9">
                                            <!-- 专辑名称 -->
                                            <h1 class="album_main">无与伦比的美丽</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="ranking_main1" style="margin-right: 20px">
                                                SEU Rating
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <!-- 专辑评分 -->
                                            <p class="ranking_main2">9.7</p>
                                        </div>
                                        <div class="col-3">
                                            <!-- 评分人数 -->
                                            <p class="ranking_main3" href="#">3761人评分</p>
                                        </div>
                                        <div class="col-4">
                                            <div class="album_in_bt">
                                                <div class="album_in_text">
                                                    <a href="/albumresult">查看详情</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 专辑 2 -->
                    <div class="album_row">
                        <div class="row">
                            <div class="album_row_wrapper">
                                <div class="col-3">
                                    <div class="album_row_img">
                                        <img src="../../static/images/ab2.jpg" alt="ab2"/>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-3">
                                            <h1 class="album_num">No.2</h1>
                                        </div>
                                        <div class="col-9">
                                            <h1 class="album_main">秋：故事</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="ranking_main1" style="margin-right: 20px">
                                                SEU Rating
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="ranking_main2">9.6</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="ranking_main3" href="#">112人评分</p>
                                        </div>
                                        <div class="col-4">
                                            <div class="album_in_bt">
                                                <div class="album_in_text">
                                                    <a href="/albumresult">查看详情</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 专辑 3 -->
                    <div class="album_row">
                        <div class="row">
                            <div class="album_row_wrapper">
                                <div class="col-3">
                                    <div class="album_row_img">
                                        <img src="../../static/images/ab3.jpg" alt="ab3"/>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-3">
                                            <h1 class="album_num">No.3</h1>
                                        </div>
                                        <div class="col-9">
                                            <h1 class="album_main">冬 未了</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="ranking_main1" style="margin-right: 20px">
                                                SEU Rating
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="ranking_main2">9.5</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="ranking_main3" href="#">15623人评分</p>
                                        </div>
                                        <div class="col-4">
                                            <div class="album_in_bt">
                                                <div class="album_in_text">
                                                    <a href="/albumresult">查看详情</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block secondTitleDiv %} {% endblock %}

<!-- 替换albums -->
{% block albums %} {% endblock %}
