/* 设置全局样式，包括字体、背景色、文字颜色和默认的边距及内边距 */
body {
    /* 设置页面的字体和背景颜色，以及基本的布局属性 */
    font-family: Arial, sans-serif; /* 定义字体为 Arial 或者无衬线字体 */
    background-color: #f4f4f4; /* 设置背景颜色为浅灰色 (#f4f4f4) */
    color: #333; /* 设置文本颜色为深灰色 (#333) */
    margin: 0; /* 移除页面的外边距 */
    padding: 20px; /* 设置页面的内边距为 20 像素，增加内容区域的视觉空间 */
}

/* 设置标题颜色和居中对齐 */
h1 {
    color: #009eb3;
    text-align: center;
/* 设置标题距离顶部的距离为20像素 */
    margin-top: 50px;
}

/* 为搜索容器添加样式 */
#search-container {
    /* 设置元素宽度为容器的80% */
    width: 30%;

    /* 容器宽度要适应页面的宽度，使其居中显示*/
    margin: 0 auto;

    /* 将内水平左右边距设置为80 */
    /* 将内垂直上下边距设置为30 */
    padding: 10px 80px 30px 80px;

    background-color: #f4f4f4; /* 背景颜色 */
    border: 0 solid #ccc; /* 边框 */
    border-radius: 50px; /* 圆角 */
}

/* 为表单添加样式 */
#search-form {
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 垂直排列子元素 */
    align-items: center; /* 水平居中子元素 */
}

/* 为输入框添加样式 */
#search-form input[type="text"] {
    width: 100%; /* 输入框宽度与容器相同 */
    padding: 20px; /* 内边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 50px; /* 圆角 */
    cursor: default;
}

/* 为提交按钮添加样式 */
#search-form input[type="submit"] {
    padding: 10px 30px; /* 内边距 */
    background-color: #009eb3; /* 背景颜色 */
    color: white; /* 文字颜色 */
    border: none; /* 无边框 */
    border-radius: 50px; /* 圆角 */
}

#search-form input[type="submit"]:hover {
    background-color: rgba(0, 158, 179, 0.76); /* 更改背景颜色 */
}

/* 为#results下的div元素设置样式，包括背景色、内边距、边框、圆角和底部外边距 */
#results div {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* 为#results下的a元素设置样式，包括字体加粗、颜色和去除下划线 */
#results a {
    font-weight: bold;
    color: #009eb3;
    text-decoration: none;
}

/* 当鼠标悬停在结果集中的链接上时，给链接添加下划线装饰 */
#results a:hover {
    text-decoration: underline;
}

/*test001*/
/*test002*/ /*test002*/