/*让这页的内容居中*/
/* 设置全局样式，包括字体、背景色、文字颜色和默认的边距及内边距 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* 设置标题颜色和居中对齐 */
h1 {
    color: #009eb3;
    text-align: center;
}

/* 设置表单的底部边距 */
form {
    margin-bottom: 20px;
}

/* 设置文本输入框的样式，包括宽度、内边距、字体大小、边框和圆角 */
input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* 定义提交按钮的样式 */
input[type="submit"] {
    padding: 10px 20px; /* 设置按钮内部填充，使内容在按钮中有足够的空间 */
    font-size: 16px; /* 设置按钮文字大小，使按钮易于点击 */
    background-color: #009eb3; /* 设置按钮背景颜色，使其看起来更加突出 */
    color: white; /* 设置按钮文字颜色为白色，以确保文字在任何背景色上都清晰可见 */
    border: none; /* 移除按钮的边框，以实现更现代的外观 */
    border-radius: 4px; /* 设置按钮的圆角，以使其外观更加友好和易于点击 */
    cursor: pointer; /* 设置光标在按钮上时显示为手形，以指示用户此元素可点击 */
}

/* 当鼠标悬停在提交按钮上时，设置背景颜色 */
input[type="submit"]:hover {
    background-color: #009eb3;
}

/* 为#results下的div元素设置样式，包括背景色、内边距、边框、圆角和底部外边距 */
#results div {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* 为#results下的a元素设置样式，包括字体加粗、颜色和去除下划线 */
#results a {
    font-weight: bold;
    color: #009eb3;
    text-decoration: none;
}


#results a:hover {
    text-decoration: underline;
}
/*test001*/
/*test002*/ /*test002*/