body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #009eb3;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #009eb3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #009eb3;
}

#results div {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#results a {
    font-weight: bold;
    color: #009eb3;
    text-decoration: none;
}

#results a:hover {
    text-decoration: underline;
}
/*test001*/